
html, body {
    min-height: 100%;
    height: 100%
}

table td.right, table th.right {
    text-align: right
}

table td.center, table th.center {
    text-align: center;
}


table td.right, table th.right {
    text-align: right;
}


.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}